# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
a3search

# Sublime
*sublime*

# other
indices/*
targets/*
license.txt
oanc/*
XYZ/*
dummy/*
massif*
small_oa/*
dict/*
wordnet/*
